@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Crimson Text", serif;
  color: #222;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1.3rem auto;
  padding: 0 1rem;
}

article {
  max-width: 43em;
}

article h1 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

article header {
  border-bottom: 1px solid #999;
  margin-bottom: 1.3rem;
}

article header p {
  font-style: italic;
  margin: 0;
  margin-bottom: 1.3rem;
  padding: 0;
}

article p {
  margin-bottom: 1.3rem;
}

article > p:last-child {
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #999;
}

blockquote {
  max-width: 24em;
  color: #555;
  font-size: 1.125rem;
  margin: 0;
}

.quote {
  color: #999;
}

.quote:first-child {
  color: #999;
  margin-left: -.3em;
}

article ol {
  padding-left: 1rem;
  margin-bottom: 1.3rem;
}

@media only screen and (min-width: 38em) {

  html {
    line-height: 1.4;
    font-size: 110%;
  }

  blockquote {
    margin: 1.4rem auto;
  }

  article header p {
    margin-bottom: 1.4rem;
  }

  header {
    margin: 1.4rem 0;
  }

  article p {
    margin-bottom: 1.4rem;
  }

  p {
    margin: 1.4rem 0;
  }

  article ol {
    margin-bottom: 1.4rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  body {
    margin: 1.5rem auto;
    padding: 0 .05rem;
  }

  article header {
    margin-bottom: 1.5rem;
  }

  article header p {
    margin-bottom: 1.5rem;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  article p {
    margin-bottom: 1.5rem;
  }

  article {
    margin: 1.5rem auto;
  }

  blockquote {
    margin: 1.5rem auto;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  body {
    margin: 1.5rem auto;
  }

  article header p {
    margin-bottom: 1.5rem;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  article p {
    margin-bottom: 1.5rem;
  }

  article {
    margin: 1.5rem auto;
  }

  blockquote {
    margin: 1.5rem auto;
  }

}
